[submodule "src/dependencies/utils"]
	path = src/dependencies/utils
	url = git@github.com:nyr24/c3_utils.git
	branch = main
	fetchRecurseSubmodules = false
	shallow = true
[submodule "src/dependencies/soa"]
	path = src/dependencies/soa
	url = git@github.com:nyr24/c3_soa_lib.git
	branch = main
	fetchRecurseSubmodules = false
	shallow = true
[submodule "src/dependencies/serializer"]
	path = src/dependencies/serializer
	url = git@github.com:nyr24/serializer_c3.git
	branch = main
	fetchRecurseSubmodules = false
	shallow = true
[submodule "src/dependencies/stb_c3"]
	path = src/dependencies/stb_c3
	url = git@github.com:nyr24/stb_c3.git
	branch = main
[submodule "lib/glfw"]
	path = lib/glfw
	url = git@github.com:glfw/glfw.git
[submodule "src/dependencies/custom_allocs"]
	path = src/dependencies/custom_allocs
	url = git@github.com:nyr24/custom_allocs_c3.git
	branch = main
